@import "../../../quiz/static/scss/base.scss";

input {
    margin-bottom: 10px !important;
    max-width: 300px;
    margin: auto;
}
.login-button {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 300px;
}

.auth {
    margin-top: 10%;
}
