{% extends "base.html" %}
{% load static %}
{% block imports %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock imports %}
{% block title %}
    Login
{% endblock title %}
{% block content %}
    <div class="container d-flex align-items-center justify-content-center">
        <div class="screen ">
            <div class="auth">
                <h1 class="text-center h3">Login</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.username }}
                    {{ form.password }}
                    <div>
                        <button class="btn btn-outline-danger login-button" type="submit">Login</button>
                    </div>
                </form>
                <p class="text-center mt-4">
                    New user? <a href="{% url 'account:register' %}">Create account</a>
                </p>
            </div>
        </div>
    </div>
{% endblock content %}
