@import "custom";

body {
    height: 100vh;
    background: $danger;
    background: linear-gradient(62deg, $danger 0%, rgb(94, 145, 255) 100%);
    font-family: 'Roboto', sans-serif !important;
}

.container {
    height: 100%;
}

.screen {
    margin-top: 50px;
    border-radius: 30px;
    background-color: rgb(238, 238, 238);
    max-width: 1100px;
    min-height: 550px;
    width: 100%;
    padding: 15px;
    max-height: 70%;
    overflow: scroll;
}

.logout-button {
    right: calc(1.5rem * .5);
    top: 10px;
}

.actions-top-right {
    top: 15px;
    right: 15px;
}

.actions-left {
    bottom: 10px;
    left: 15px;
}

.actions-center {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.actions-top-left {
    top: 15px;
    left: 15px;
}

.message-alert {
    left: 50%;
    transform: translateX(-50%);
    width: 96.5%;
    max-width: 900px;
    border-radius: 20px !important;
    z-index: 1000;
}

.logo-button {
    left: calc(1.5rem * .5);
    top: 10px;
}

.underline-href {
    display: inline-block;
    position: relative;
    text-decoration: none !important;
    color: black !important;
    transition: color .3s ease;

    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        left: 0;
        bottom: .125em;
        height: 1px;
        background: linear-gradient(90deg, #ff7800 0%, $danger 50%, #ff00fe 100%);
        transition: bottom .3s ease;
    }

    &:hover {
        color: rgba(black, .8);

        &::after {
            bottom: 0;
        }
    }
}


input[type="text"],
input[type="date"],
input[type="password"],
input[type="email"] {
    border-radius: 14px;
}

.btn {
    border-radius: 14px;
}

.btn-outline-danger {
    --bs-btn-color: #FF5D5D;
    --bs-btn-border-color: #FF5D5D;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #FF5D5D;
    --bs-btn-hover-border-color: #FF5D5D;
    --bs-btn-focus-shadow-rgb: 220, 53, 69;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #FF5D5D;
    --bs-btn-active-border-color: #FF5D5D;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #FF5D5D;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color: #FF5D5D;
    --bs-gradient: none;
}

.card {
    border-radius: 14px;
}
