@import "base";

.progress {
    --bs-progress-height: 0.5rem;
    --bs-progress-bar-bg: #FF5D5D;
    margin: 5px;

    .progress-bar {
        border-radius: 4px;
    }
}

.description {
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    background: $danger;
    color: white;
    font-size: 20px;
}

.finish-quiz-container {
    margin-top: 70px;

    .description {
        font-size: 30px;
        margin-right: 20px;
        margin-left: 20px;
    }
}

.answers {
    margin-left: 10px;
}

.answer {
    padding: 5px 5px 5px 0;
    font-size: 20px;

    label {
        margin-left: 10px;
    }
}

.gray-line {
    background-color: rgb(222, 222, 222);
    height: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 20px;
}

.actions {
    bottom: 10px;
    right: 15px;
}

.back-button-container input {
    top: 15px;
    left: 15px;
}
