<!DOCTYPE html>
{% load static %}
{% load compress %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Quiz">
        <meta name="keywords" content="Quiz">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- font roboto -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
              rel="stylesheet">
        <!-- static -->
        {% block imports %}
            {% compress css %}
                <link type="text/x-scss"
                      rel="stylesheet"
                      href="{% static 'scss/base.scss' %}">
            {% endcompress %}
        {% endblock imports %}
        <title>
            {% block title %}
                Quiz
            {% endblock title %}
        </title>
    </head>
    <body>
        {% if user.is_authenticated %}
            <a href="{% url 'account:logout' %}"
               class="position-absolute logout-button btn btn-light">LogOut</a>
        {% endif %}
        <a class="position-absolute logo-button btn btn-light"
           href="{% url 'quiz:index' %}">Quiz Project</a>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
                crossorigin="anonymous"></script>
        <div class="container d-flex align-items-center justify-content-center">
            <div class="screen position-relative">
                {% include "includes/messages.html" %}
                {% block content %}
                {% endblock content %}
            </div>
        </div>
    </body>
</html>
