{% extends "base.html" %}
{% load static %}
{% block title %}
    Create quiz
{% endblock title %}
{% block imports %}
    <link rel="stylesheet" href="{% static 'css/create_quiz.css' %}">
    <script src="{% static 'js/create_quiz.js' %}"></script>
{% endblock imports %}
{% block content %}
    <div class="container d-flex align-items-center justify-content-center">
        <div class="screen position-relative">
            <h1 class="text-center h3">Create quiz</h1>
            <form action="" method="post" id="createQuizForm">
                {% csrf_token %}
                <div class="quiz">
                    <input type="text"
                           name="name"
                           id="name"
                           class="form-control"
                           placeholder="Name">
                    <input name="description"
                           id="description"
                           class="form-control"
                           placeholder="Description">
                    <input type="datetime-local"
                           name="start_date"
                           id="start_date"
                           class="form-control"
                           placeholder="Start date">
                    <input type="datetime-local"
                           name="end_date"
                           id="end_date"
                           class="form-control"
                           placeholder="End date">
                    <div class="actions position-absolute">
                        <input type="button"
                               class="btn btn-outline-danger"
                               value="Next"
                               onclick="changeScreenToAddQuestion()">
                    </div>
                </div>
                <div class="questions">
                    <div class="question-answer d-none">
                        <div class="mb-1">
                            <span>Question</span>
                            <input type="text"
                                   name="question_name_1"
                                   class="form-control question"
                                   placeholder="Question">
                        </div>
                        <div class="answers mb-5">
                            <div class="mb-1">
                                <span>Answers</span>
                                <input type="button"
                                       class="btn btn-outline-danger"
                                       value="+"
                                       onclick="addAnswer()">
                            </div>
                            <div class="answer d-flex mb-2">
                                <input type="text"
                                       name="question_1_answer_1"
                                       class="form-control"
                                       placeholder="Answer">
                                <input class="btn btn-outline-danger ms-2"
                                       type="button"
                                       onclick="removeAnswer(this)"
                                       value="X">
                            </div>
                            <div class="answer d-flex mb-2">
                                <input type="text"
                                       name="question_1_answer_2"
                                       class="form-control"
                                       placeholder="Answer">
                                <input class="btn btn-outline-danger ms-2"
                                       type="button"
                                       onclick="removeAnswer(this)"
                                       value="X">
                            </div>
                            <div class="answer d-flex mb-2">
                                <input type="text"
                                       name="question_1_answer_3"
                                       class="form-control"
                                       placeholder="Answer">
                                <input class="btn btn-outline-danger ms-2"
                                       type="button"
                                       onclick="removeAnswer(this)"
                                       value="X">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="actions-top-right action-create-quiz position-absolute d-none">
                        <input type="button"
                               class="btn btn-outline-danger"
                               value="Create quiz"
                               onclick="createQuiz()">
                    </div>
                    <div class="actions-top-right action next-button position-absolute d-none">
                        <input type="button"
                               class="btn btn-outline-danger"
                               value="Next"
                               onclick="nextButton()">
                    </div>
                    <div class="actions action position-absolute d-none">
                        <input type="button"
                               class="btn btn-outline-danger"
                               value="Add question"
                               onclick="addQuestion()">
                    </div>
                    <div class="actions-left action position-absolute d-none">
                        <input type="button"
                               class="btn btn-outline-danger"
                               value="Delete question"
                               onclick="removeQuestion()">
                    </div>
                    <div class="actions-top-left action back-button position-absolute d-none">
                        <input type="button"
                               class="btn btn-outline-danger"
                               value="Back"
                               onclick="backButton()">
                    </div>
            </form>
        </div>
    </div>
{% endblock content %}
