{% extends 'base.html' %}

{% load static %}

{% block imports %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <div class="container d-flex align-items-center justify-content-center">
        <div class="quiz">
            <h1 class="text-center h3">Quiz name</h1>
            <div class="progress">
                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                    aria-valuemax="100"></div>
            </div>
            <div class="description mt-3">
                <span>Quiz description: Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                    has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                    of type and scrambled it to make a type specimen book. </span>
            </div>
            <div class="questions row mt-3">
                <div class="question col-12">
                    <input type="radio" name="question" class="form-check-input" id="question1" value="1">
                    <label class="form-check-label" for="question1">text 1</label>
                    <div class="gray-line"></div>
                </div>
                <div class="question col-12">
                    <input type="radio" name="question" class="form-check-input" id="question2" value="2">
                    <label class="form-check-label" for="question2">text 2</label>
                    <div class="gray-line"></div>
                </div>
                <div class="question col-12">
                    <input type="radio" name="question" class="form-check-input" id="question3" value="3">
                    <label class="form-check-label" for="question3">text 3</label>
                    <div class="gray-line"></div>
                </div>
                <div class="question col-12">
                    <input type="radio" name="question" class="form-check-input" id="question3" value="3">
                    <label class="form-check-label" for="question3">text 3</label>
                    <div class="gray-line"></div>
                </div>
                <div class="question col-12">
                    <input type="radio" name="question" class="form-check-input" id="question3" value="3">
                    <label class="form-check-label" for="question3">text 3</label>
                    <div class="gray-line"></div>
                </div>
                <div class="question col-12">
                    <input type="radio" name="question" class="form-check-input" id="question3" value="3">
                    <label class="form-check-label" for="question3">text 3</label>
                    <div class="gray-line"></div>
                </div>
                <div class="question col-12">
                    <input type="radio" name="question" class="form-check-input" id="question3" value="3">
                    <label class="form-check-label" for="question3">text 3</label>
                    <div class="gray-line"></div>
                </div>
                <div class="question col-12">
                    <input type="radio" name="question" class="form-check-input" id="question3" value="3">
                    <label class="form-check-label" for="question3">text 3</label>
                    <div class="gray-line"></div>
                </div>
                <div class="question col-12">
                    <input type="radio" name="question" class="form-check-input" id="question3" value="3">
                    <label class="form-check-label" for="question3">text 3</label>
                    <div class="gray-line"></div>
                </div>
            </div>
            <div class="actions mt-3 mb-2">
                <button class="btn btn-outline-danger float-end">Next</button>
            </div>
        </div>
    </div>
{% endblock %}
