{% extends "base.html" %}
{% load static %}
{% block imports %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock imports %}
{% block content %}
    <div class="container d-flex align-items-center justify-content-center">
        <div class="screen">
            <div class="auth">
                <h1 class="text-center h3">Login</h1>
                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags == 'error' %}
                            <div class="alert alert-danger" role="alert">{{ message }}</div>
                        {% else %}
                            <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.username }}
                    {{ form.password }}
                    <button class="btn btn-outline-danger float-end" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
